<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1089858892973-6pf8n41pvduthmjk78rg1pa5vd49qn9t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1089858892973-6pf8n41pvduthmjk78rg1pa5vd49qn9t</string>
	<key>API_KEY</key>
	<string>AIzaSyA2IREB1EWQqUxeHgwlrfwLh4X5bV46v5I</string>
	<key>GCM_SENDER_ID</key>
	<string>1089858892973</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dev.PersonEconomy</string>
	<key>PROJECT_ID</key>
	<string>personeconomy</string>
	<key>STORAGE_BUCKET</key>
	<string>personeconomy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1089858892973:ios:9d9a84a966a66e32880224</string>
</dict>
</plist>